{% extends 'travel_wishlist/base.html' %}
{% block content %}

    <h2>Travel Wishlist</h2>

    <h3>Add a new place</h3>
    <form method="POST" action="{% url 'place_list' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="add_new_place" type="submit">Add</button>
    </form>

    <h3>Places to visit</h3>

    <ul>

        {% for place in places %}

            {% if place.visited %}
                <li class="visited"> <!-- TODO CSS for this -->
                    <a href="{% url 'place_detail' pk=place.pk %}">{{ place.name }}</a> (Visited)
                </li>
            {% else %}
                <li class="unvisited">
                    <a href="{% url 'place_detail' pk=place.pk %}">{{ place.name }}</a>
                </li>
            {% endif %}

        {% empty %}

            <li>You have no places in your wishlist</li>

        {% endfor %}

    </ul>


    {# <a href="{% url 'places_visited' %}">Places you've visited</a> #}

{% endblock %}