{% extends 'travel_wishlist/base.html' %}
{% block content %}

    <h2>Travel Wishlist</h2>

    <h3>Add a new place</h3>
    <form method="POST" action="{% url 'place_list' %}">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Add</button>
    </form>

    <h3>Places to visit</h3>

    <table>

    {% for place in places %}

        <tr>
            <td>{{ place.name }}</td>
            <td>
                <form method="POST" action="{%  url 'place_is_visited' %}">
                    {%  csrf_token %}
                    <input type="hidden" name="pk" value="{{ place.pk }}">
                    <button type="submit">Visited!</button>
                </form>
             </td>
        </tr>

        {% empty %}

        <tr>You have no places in your wishlist</tr>

    {% endfor %}

    </table>

    <a href="{% url 'places_visited' %}">Places you've visited</a>

{% endblock %}